@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Here are all the categories for this task:</h2>

@if (@Model["categories"].Count == 0)
{
  <p>No categories have been added yet!</p>
}
else
{
  int count = 0;
  string rowHighlight = "row";
  <ol>
    @foreach (var category in @Model["categories"])
    {
      if (count % 2 == 0)
      {
        rowHighlight = rowHighlight + " dark";
        count++;
      }
      else
      {
        rowHighlight = rowHighlight + " light";
        count++;
      }
      <div class="@rowHighlight">
        <li>
          <div class="col-md-4">
            @category.GetName()&nbsp;
          </div>

          <div class="col-md-4">
            <a class="btn btn-danger" href="/categories/delete/@category.GetId()">X</a>
          </div>
        </li>
      </div>
    }
  </ol>
}
<h4>Add a category to this task:</h4>
<form action='/task/add_category' method='post'>
  <input id='task-id' name='task-id' type='hidden' value='@Model["task"].GetId()'>
  <label for='category-id'>Select a category</label>
  <select id='category-id' name='category-id' type='text'>
    @foreach (var category in @Model["allCategories"])
    {
      <option value='@category.GetId()'>@category.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a class="btn btn-primary" href="/categories/new">Add a new category</a></p>
<p><a class="btn btn-default" href="/">Return to Main Page</a></p>
