@{
  Layout="Shared/_Layout.cshtml";
}

<h2>@Model["task"].GetDescription()</h2>
@if (@Model["task"].GetCompleted())
{
  <h4>This task has been completed. Good job!</h4>
  <form action='/tasks/@Model["task"].GetId()' method="post">
    <input type="hidden" name="_method" value="PATCH">
    <button class="btn btn-primary" type="submit">Mark as incomplete</button>
  </form>
}
else
{
  <h4>This task is due @Model["task"].GetDueDate().Date.</h4>
  <form action='/tasks/@Model["task"].GetId()' method="post">
    <input type="hidden" name="_method" value="PATCH">
    <button class="btn btn-primary" type="submit">Mark as complete</button>
  </form>
}


<h3>Here are all the categories for this task:</h3>

@if (@Model["categories"].Count == 0)
{
  <p>No categories have been added yet!</p>
}
else
{
  <ol>
    @foreach (var category in @Model["categories"])
    {
      <div class="row">
        <li>
          <div class="col-md-4">
            @category.GetName()&nbsp;
          </div>

          <div class="col-md-4">
            <a class="btn btn-danger" href="/categories/delete/@category.GetId()">X</a>
          </div>
        </li>
      </div>
    }
  </ol>
}
<h4>Add a category to this task:</h4>
<form action='/task/add_category' method='post'>
  <input id='task-id' name='task-id' type='hidden' value='@Model["task"].GetId()'>
  <label for='category-id'>Select a category</label>
  <select id='category-id' name='category-id' type='text'>
    @foreach (var category in @Model["allCategories"])
    {
      <option value='@category.GetId()'>@category.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a class="btn btn-primary" href="/categories/new">Add a new category</a></p>
<p><a class="btn btn-default" href="/">Return to Main Page</a></p>
